 /* Config Generale */
 *{  

    margin:0;
    padding:0;
    box-sizing:border-box;
    border:0;
    font-family:Verdana;
    font-size:1.0em;
}
.header {
    width:1200px;
    margin:0 auto;
    padding:1% 2%;
}



.divMenu {
    margin-left:auto;
    margin-right:auto;
    width:40%;
    margin-top:5%;
    border:solid 1px #ccc;
    padding:5%;
    height:100%;
}

.submit {
    width:100%;
    height:35px;
    background-color:#0569b1;
    color:#fff;
    border-radius:5px;
    margin-top:4%;
    cursor:pointer;
}

#row
{
	border:solid 1px blue;

}

#coluna 
{

	border: solid 1px blue;

}

